{% extends 'base.html' %}
{% load static %}
{% block title %}添加账户{% endblock %}
{% block trace %}
<div class="container-fluid px-4">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-0">
          <li class="breadcrumb-item"><span>Home</span></li>
          <li class="breadcrumb-item"><span>账户</span></li>
          <li class="breadcrumb-item active"><span>添加账户</span></li>
      </ol>
  </nav>
</div>
{% endblock %}
<link href="{% static 'django_select2/css/select2.min.css' %}" rel="stylesheet" />
{% block script %}
{% endblock %}
{% block content %}
<div class="container-lg px-4">
    <div class="card-body">
        <h2>添加账本</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>
</div>
{% endblock %}
