{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block trace %}
<div class="container-fluid px-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0">
            <li class="breadcrumb-item"><span>Home</span></li>
            <li class="breadcrumb-item active"><span>Dashboard</span></li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h5>Weekly Expenses by Category</h5>
        <canvas id="expensesChart"></canvas>
    </div>
    <div class="col-md-6">
        <h5>Weekly Income by Category</h5>
        <canvas id="incomeChart"></canvas>
    </div>
</div>

<!-- Include Chart.js from CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
